*.pyc
*.zip
*.bak
*.rar
*.log
*.7z
*.bak
*.mp3
*.wav
build/
dist/
*egg-info/

# Added entries (1 items)
configset/traceback.json

# Added entries (1 items)
configset/docker-compose.yml

# Added entries (1 items)
docs/

# Added entries (1 items)
test2.ini

# Added entries (1 items)
*.ini

# Added entries (1 items)
test_configset.py
